textarea{
    resize: none;
}

a{
    text-decoration: none;
    color: #ffffff;
    border: none;
}

a:hover{
    text-decoration: none;
    color: #ffffff;
    border: none;
}

a:focus{
    text-decoration: none;
    color: #ffffff;
    border: none;
}